.breadcrumb {
  background: @breadcrumb-background;
  padding: 7px 20px;

  &-list {
    .list-reset;

    &__item {
      display: inline-block;
      vertical-align: middle;

      margin-right: 5px;

      font-size: 14px;

      &::before {
        content: '>';
        margin-right: 5px;

        color: @breadcrumb-color;
      }

      &:first-child::before {
        display: none;
      }
    }

    &__link {
      color: @breadcrumb-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &_main {
        color: @breadcrumb-color-main;
      }
    }
  }

  &__add-button {
    display: block;
    width: 36px;
    height: 36px;

    position: absolute;
    top: -18px;
    right: 20px;

    border-radius: 50%;
    background: @breadcrumb-add-diagnose-background;

    color: @breadcrumb-add-diagnose-color;
    text-align: center;

    z-index: 10;

    i {
      font-size: 36px;
      font-weight: bold;
    }

    &:hover {
      background: @breadcrumb-add-diagnose-background-hover;
    }
  }
}