<ul class="breadcrumb-list">
    <li class="breadcrumb-list__item">
        <a href="#" class="breadcrumb-list__link breadcrumb-list__link_main">Patients</a>
    </li>
    <li class="breadcrumb-list__item">
        <a href="#" class="breadcrumb-list__link">{{BreadcrumbCtrl.patientInfo.name || 'Patient'}}</a>
    </li>
</ul>
<a ui-sref="add-diagnose" class="breadcrumb__add-button">
    <i class="material-icons">add</i>
</a>