.add-diagnose {
  &__title {
    .page-title;
  }

  &-form {
    padding: 20px;
  }

  &-code {
    width: 50%;

    &__label {
      text-transform: capitalize;
    }
  }

  &-description {
    width: 100%;

    &__label {
      text-transform: capitalize;
    }
  }

  &-action {
    display: flex;
    justify-content: flex-end;

    .md-button {
      background-color: @add-diagnose-button;
      color: @add-diagnose-button-color;

      &:not([disabled]):hover {
        background-color: @add-diagnose-button-hover;
      }
    }
  }
}