<div class="add-diagnose">
    <h3 class="add-diagnose__title">add new diagnos:</h3>
    <form action="" class="add-diagnose-form" name="addDiagnose">
        <md-input-container class="add-diagnose-code">
            <label class="add-diagnose-code__label">Code:<span class="text_red">*</span></label>
            <input class="add-diagnose-code__input" name="addDiagnose.item.code" ng-model="addDiagnose.item.code" required type="number" minlength="6">
            <div ng-messages="addDiagnose.code.$error">
                <div ng-show="addDiagnose.code.$error.required" ng-message="required">This is required!</div>
                <div ng-show="addDiagnose.code.$error.minlength" ng-message="minlength">That's too short!</div>
            </div>
        </md-input-container>
        <md-input-container class="add-diagnose-description">
            <label class="add-diagnose-description__label">Diagnos:<span class="text_red">*</span></label>
            <textarea class="add-diagnose-description__input" name="addDiagnose.item.diagnosis" ng-model="addDiagnose.item.diagnosis" required></textarea>
            <div ng-messages="addDiagnose.diagnosis.$error">
                <div ng-message="required">This is required!</div>
            </div>
        </md-input-container>
        <div class="add-diagnose-action">
            <md-button class="md-raised" ng-disabled="addDiagnose.$invalid" ng-click="AddDiagnoseCtrl.addNewDiagnose(addDiagnose.item)">save</md-button>
            <md-button class="md-raised" ng-click="AddDiagnoseCtrl.cancel()">cancel</md-button>
        </div>
    </form>
</div>