.patient {
  background: @patient-background;
  padding: 15px;

  color: @patient-font-color;

  &-name {
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: @patient-name;
    font-size: 26px;
    margin: 25px 0;

    &__label {
      margin: 0 10px 0 0;
    }

    &__button {
      text-decoration: none;
      color: @patient-name;
      font-size: 34px;

      &:hover {
        color: @patient-font-color;
        text-decoration: none;
      }
    }
  }

  &-info {
    margin-bottom: 25px;
    &__text {
      margin: 0;
      line-height: 22px;

      &_title {
        font-size: 12px;
      }

      &_data {
        font-size: 14px;
      }
    }
  }
}