<div class="patient-name">
    <h4 class="patient-name__label">{{PatientInfoCtrl.patientInfo.name || 'Patient'}}</h4>
    <a ui-sref="edit-patient" class="patient-name__button"><i class="material-icons">create</i></a>
</div>
<div class="patient-info" ng-if="!PatientInfoCtrl.patientInfo.name">
    <p class="patient-info__text patient-info__text_title">No information</p>
</div>
<div class="patient-info" ng-if="PatientInfoCtrl.patientInfo.birthday">
    <p class="patient-info__text patient-info__text_title">Birthday:</p>
    <p class="patient-info__text patient-info__text_data">{{PatientInfoCtrl.patientInfo.birthday}}</p>
</div>
<div class="patient-info" ng-if="PatientInfoCtrl.patientInfo.address">
    <p class="patient-info__text patient-info__text_title">Full address:</p>
    <p class="patient-info__text patient-info__text_data">{{PatientInfoCtrl.patientInfo.address}}</p>
</div>