.edit-patient {
  &__title {
    .page-title;
  }

  &-form {
    padding: 20px;

    &-wrapper {
      width: 80%;
    }
  }

  &-name {
    width: 49%;
    margin-right: 2%;

    &__label {
      text-transform: capitalize;
    }
  }

  &-dob {
    width: 48%;

    &__label {
      text-transform: uppercase;
    }
  }

  &-address {
    width: 100%;

    &__label {
      text-transform: capitalize;
    }
  }

  &-action {
    display: flex;
    justify-content: flex-end;

    .md-button {
      background-color: @edit-patient-button;
      color: @edit-patient-button-color;

      &:not([disabled]):hover {
        background-color: @edit-patient-button-hover;
      }
    }
  }
}