<div class="edit-patient">
    {{EditPatientCtrl.data}}
    <h3 class="edit-patient__title">edit patient:</h3>
    <form action="" class="edit-patient-form" name="editPatient">
        <div class="edit-patient-form-wrapper">
            <md-input-container class="edit-patient-name">
                <label class="edit-patient-name__label">patient name:<span class="text_red">*</span></label>
                <input class="edit-patient-name__input" name="editPatient.patientInfo.name" ng-model="editPatient.patientInfo.name" required type="text">
                <div ng-messages="editPatient.name.$error">
                    <div ng-message="required">This is required!</div>
                </div>
            </md-input-container>
            <md-input-container class="edit-patient-dob">
                <label class="edit-patient-dob__label">dob:<span class="text_red">*</span></label>
                <input class="edit-patient-dob__input" name="editPatient.patientInfo.dob" ng-model="editPatient.patientInfo.dob" required type="date">
                <div ng-messages="editPatient.dob.$error">
                    <div ng-message="required">This is required!</div>
                </div>
            </md-input-container>
            <md-input-container class="edit-patient-address">
                <label class="edit-patient-address__label">full address:</label>
                <textarea class="edit-patient-address__input" name="editPatient.patientInfo.address" ng-model="editPatient.patientInfo.address"></textarea>
            </md-input-container>
        </div>
        <div class="edit-patient-action">
            <md-button class="md-raised" ng-disabled="editPatient.$invalid" ng-click="EditPatientCtrl.setPatientInfo(editPatient.patientInfo)">save</md-button>
        </div>
    </form>
</div>