.header {
  position: relative;

  background: @header-background;
  padding: 0 5px;
  height: 38px;

  &-navigation {

    i {
      display: none;
    }

    &-list {
      .list-reset;

      &__item {
        display: inline-block;
      }

      &__link {
        display: block;

        padding: 9px;

        font-size: 12px;
        text-decoration: none;
        text-transform: uppercase;
        color: @header-menu-color;

        &:hover {
          text-decoration: none;
          color: @header-menu-active;
        }

        &.active {
          color: @header-menu-active;
          border-bottom: 2px solid @header-menu-active;
        }
      }
    }
  }
}

@media (max-width: 1080px) {
  .header {

    &-navigation {
      position: relative;
      width: 38px;
      height: 38px;
      padding: 6px;
      cursor: pointer;

      i {
        display: block;
      }

      &-list {
        display: none;
        position: absolute;
        left: -5px;
        z-index: 10;
        background: @header-background;

        &__item {
          width: 250px;
          display: flex;
          flex-direction: column;
        }
      }

      &:hover {
        .header-navigation-list {
          display: block;
        }
      }
    }
  }
}