<nav class="header-navigation">
    <i class="material-icons">view_headline</i>
    <ul class="header-navigation-list">
        <li class="header-navigation-list__item">
            <a href="#" class="header-navigation-list__link">patient info</a>
        </li>
        <li class="header-navigation-list__item">
            <a href="#" class="header-navigation-list__link active">clinical info</a>
        </li>
        <li class="header-navigation-list__item">
            <a href="#" class="header-navigation-list__link">messages</a>
        </li>
        <li class="header-navigation-list__item">
            <a href="#" class="header-navigation-list__link">insurance</a>
        </li>
        <li class="header-navigation-list__item">
            <a href="#" class="header-navigation-list__link">compliance</a>
        </li>
        <li class="header-navigation-list__item">
            <a href="#" class="header-navigation-list__link">events</a>
        </li>
        <li class="header-navigation-list__item">
            <a href="#" class="header-navigation-list__link">service plan</a>
        </li>
        <li class="header-navigation-list__item">
            <a href="#" class="header-navigation-list__link">documents</a>
        </li>
        <li class="header-navigation-list__item">
            <a href="#" class="header-navigation-list__link">integration</a>
        </li>
        <li class="header-navigation-list__item">
            <a href="#" class="header-navigation-list__link">equipment</a>
        </li>
        <li class="header-navigation-list__item">
            <a href="#" class="header-navigation-list__link">orders</a>
        </li>
    </ul>
</nav>