.clinical-info {
  width: 100%;
  display: flex;
  flex-direction: row;

  height: 95%;
  overflow-y: auto;

  .current-diagnoses {
    width: 50%;

    &__title {
      .page-title;
    }

    &-table {
      width: 100%;
      border-collapse: collapse;

      &-head {
        background: @clinical-info-table-head-background;

        &__cell {
          .table-cell(@clinical-info-table-head-color, 13px, 50%, 18px);
        }
      }

      &-body {

        tr {
          border-bottom: 1px solid @clinical-info-table-body-border;
        }

        &__cell {
          .table-cell(@clinical-info-table-body-color, 14px, 50%, 14px);

          &_action {
            min-width: 67px;
          }
        }

        &__link {
          color: @clinical-info-link-color;
          margin-right: 5px;

          &:hover {
            color: @clinical-info-link-color;
          }
        }

        &__button {
          border: none;
          outline: none;
          background: #ff4647;
          color: rgba(255, 255, 255, 0.9);
          border-radius: 50%;
          padding: 0;
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  .diagnoses-history {
    width: 50%;

    &__title {
      .page-title;
    }

    &-table {
      width: 100%;
      border-collapse: collapse;
      background: @clinical-info-diagnosis-history-background;

      &-head {
        background: @clinical-info-table-head-background;

        &__cell {
          .table-cell(@clinical-info-table-head-color, 13px, 40%, 18px);
        }
      }

      &-body {

        tr {
          border-bottom: 1px solid @clinical-info-table-body-border;
        }

        &__cell {
          .table-cell(@clinical-info-table-body-color, 14px, 40%, 18px);
        }
      }
    }
  }

  &-no-diagnoses {
    padding: 0 20px;
  }
}

@media (max-width: 1200px) {
  .clinical-info {
    flex-direction: column;

    .current-diagnoses {
      width: 100%;
    }
    .diagnoses-history {
      width: 100%;

      &-table {
        background: transparent;
      }
    }
  }
}