<div class="clinical-info">
    <div class="current-diagnoses">
        <h3 class="current-diagnoses__title">current diagnoses</h3>
        <p class="clinical-info-no-diagnoses" ng-if="!ClinicalInfoCtrl.currentDiagnoses.length">No diagnoses</p>
        <table class="current-diagnoses-table" ng-if="ClinicalInfoCtrl.currentDiagnoses.length">
            <thead class="current-diagnoses-table-head">
            <tr>
                <th class="current-diagnoses-table-head__cell">code</th>
                <th class="current-diagnoses-table-head__cell current-diagnoses-table-head__cell_diagnosis">diagnosis</th>
                <th class="current-diagnoses-table-head__cell">addition date</th>
                <th class="current-diagnoses-table-head__cell"></th>
            </tr>
            </thead>
            <tbody class="current-diagnoses-table-body">
            <tr ng-repeat="item in ClinicalInfoCtrl.currentDiagnoses track by item.id">
                <td class="current-diagnoses-table-body__cell">{{item.code}}</td>
                <td class="current-diagnoses-table-body__cell current-diagnoses-table-body__cell_diagnosis">{{item.diagnosis}}</td>
                <td class="current-diagnoses-table-body__cell">{{item.additionalDate}}</td>
                <td class="current-diagnoses-table-body__cell current-diagnoses-table-body__cell_action">
                    <a ui-sref="clinical-info" class="current-diagnoses-table-body__link"><i class="material-icons">create</i></a>
                    <button class="current-diagnoses-table-body__button" ng-click="ClinicalInfoCtrl.deleteDiagnose(item.id)"><i class="material-icons">clear</i></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="diagnoses-history">
        <h3 class="diagnoses-history__title">diagnoses history</h3>
        <p class="clinical-info-no-diagnoses" ng-if="!ClinicalInfoCtrl.diagnosesHistory">No diagnoses</p>
        <table class="diagnoses-history-table" ng-if ="ClinicalInfoCtrl.diagnosesHistory">
            <thead class="diagnoses-history-table-head">
            <tr>
                <th class="diagnoses-history-table-head__cell">code</th>
                <th class="diagnoses-history-table-head__cell diagnoses-history-table__cell_diagnosis">diagnosis</th>
                <th class="diagnoses-history-table-head__cell">addition date</th>
                <th class="diagnoses-history-table-head__cell">removal date</th>
            </tr>
            </thead>
            <tbody class="diagnoses-history-table-body">
            <tr ng-repeat="item in ClinicalInfoCtrl.diagnosesHistory track by item.id">
                <td class="diagnoses-history-table-body__cell">{{item.code}}</td>
                <td class="diagnoses-history-table-body__cell diagnoses-history-table-body__cell_diagnosis">{{item.diagnosis}}</td>
                <td class="diagnoses-history-table-body__cell">{{item.additionalDate}}</td>
                <td class="diagnoses-history-table-body__cell">{{item.removalDate}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>