body {
  min-width: 320px;
}
.content {
  display: flex;
  flex-direction: row;

  position: fixed;
  top: 38px;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 1;
}

.content-data {
  height: 100%;
}

.patient {
  width: 15%;
}

.main {
  width: 85%;
}

@media (max-width: 1200px) {
  .patient {
    width: 22%;
  }

  .main {
    width: 78%;
  }
}

@media (max-width: 1080px) {
  .patient {
    width: 28%;
  }

  .main {
    width: 72%;
  }
}

@media (max-width: 600px) {
  .content {
    flex-direction: column;
    position: relative;
    top: 0;
  }
  .patient {
    width: 100%;
  }

  .main {
    width: 100%;
  }
}