.list-reset() {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-title() {
  background: @page-title-background;
  padding: 15px 20px;
  margin: 0;

  text-transform: capitalize;
  color: @page-title-color;
  font-size: 18px;
  font-weight: normal;
}

.table-cell(@color, @font-size, @diagnosis-width, @padding) {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: @padding;
  padding-bottom: @padding;
  margin-right: 5px;

  text-align: left;
  color: @color;
  font-size: @font-size;
  font-weight: normal;
  text-transform: capitalize;

  &:first-child {
    padding-left: 20px;
  }

  &_diagnosis {
    width: @diagnosis-width;
  }
}