/*common*/
@ocean-blue: #3dbafc;
@light-grey: #646464;
@white: #fff;
@black: #000;
@font-grey: #333;
@dark-white: #f1f1f1;
@table-head-grey: #e8e8e8;
@red: #ff4647;

/*header*/
@header-background: @ocean-blue;
@header-menu-color: fadeout(@white, 30%);
@header-menu-active: @white;

/*patient-info*/
@patient-background: @light-grey;
@patient-name: fadeout(@white, 10%);
@patient-font-color: fadeout(@white, 30%);

/*breadcrumb*/
@breadcrumb-background: @dark-white;
@breadcrumb-color-main: @ocean-blue;
@breadcrumb-color: fadeout(@black, 50%);
@breadcrumb-add-diagnose-background-hover: @black;
@breadcrumb-add-diagnose-background: fadeout(@breadcrumb-add-diagnose-background-hover, 30%);
@breadcrumb-add-diagnose-color: @white;

/*page-title*/
@page-title-background: @ocean-blue;
@page-title-color: fadeout(@white, 10%);

/*add-diagnose*/
@add-diagnose-button: @ocean-blue;
@add-diagnose-button-hover: fadeout(@ocean-blue, 20%);
@add-diagnose-button-color: fadeout(@white, 10%);

/*edit-patient*/
@edit-patient-button: @ocean-blue;
@edit-patient-button-hover: fadeout(@ocean-blue, 20%);
@edit-patient-button-color: fadeout(@white, 10%);

/*clinical-info*/
@clinical-info-table-head-background: @table-head-grey;
@clinical-info-table-head-color: fadeout(@black, 50%);
@clinical-info-table-body-border: @table-head-grey;
@clinical-info-table-body-color: @font-grey;
@clinical-info-link-color: fadeout(@black, 50%);;
@clinical-info-button-color: fadeout(@white, 10%);
@clinical-info-button-background: @red;
@clinical-info-diagnosis-history-background: @dark-white;